@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');


.App {
 margin: 0;
 padding: 0
}
/* header{
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
} */